@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* PRIMARY */

  /* TEXT */
  --clr-gray-200: hsl(266, 42%, 97%);
  --clr-gray-300: hsl(270, 7%, 64%);
  --clr-gray-500: hsl(206, 6%, 79%);
  --clr-purple-300: hsl(276, 100%, 81%);
  --clr-purple-600: hsl(276, 55%, 52%);
  --clr-purple-950: hsl(271, 36%, 24%);

  /* GRADIENTS */
  --clr-pink-500: hsl(293, 100%, 63%);
  --clr-purple-500: hsl(264, 100%, 61%);
  --clr-gradient: linear-gradient(
    to right,
    var(--clr-purple-500),
    var(--clr-pink-500)
  );

  /* SECONDARY */
  --clr-white: hsl(0, 100%, 100%);
  --clr-gray-100: hsl(270, 20%, 96%);
  --clr-pink-400: hsl(289, 100%, 72%);

  /* TYPOGRAPHY */

  --fs-default: 1rem;
  --font-rubik: "Rubik";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-rubik);
  font-size: var(--fs-default);
  background-color: hsl(0, 0%, 98%);
}

.left {
  width: 30vw;
  height: 80vh;
  background: var(--clr-gradient);
  border-bottom-right-radius: 300px;
  border-bottom-left-radius: 300px;

  position: absolute;
  left: -30px;
  top: 0;
  z-index: -99;
}

.right {
  width: 30vw;
  height: 80vh;
  background: var(--clr-gray-200);
  border-top-right-radius: 300px;
  border-top-left-radius: 300px;

  position: absolute;
  right: -30px;
  bottom: 0;
  z-index: -99;
}

.main-container {
  display: grid;
  min-height: 100vh;
  place-items: center;
  grid-template-columns: 50vw 1fr;
}

.container-handphone {
  width: 330px;
  height: 560px;
  background-color: var(--clr-white);
  border-radius: 24px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
}

.container-screen {
  width: 310px;
  height: 540px;
  background-color: var(--clr-gray-100);
  border-radius: 24px;
  position: absolute;

  /* box-shadow: 0px 0px 6px 1px #000000; */
}

.ilusion-style {
  width: 155px;
  height: 30px;
  border-radius: 12px;
  background-color: var(--clr-white);
  position: absolute;
  z-index: 99;
  left: 85px;
  bottom: 520px;
}

.container-header {
  width: auto;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 46px;
  padding: 4px;
  background: var(--clr-gradient);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.icon-backarrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transform: rotate(-45deg);
}

.avatar-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.avatar-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: no-repeat url(/images/avatar.jpg);
}

.menu-dot {
  position: relative;

  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 50%;
}

.menu-dot::after,
.menu-dot::before {
  content: "";
  position: absolute;
  left: 0;
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 50%;
}

.menu-dot::after {
  top: 5px;
}

.menu-dot::before {
  bottom: 5px;
}

.container-chat {
  width: auto;
  height: 380px;
  padding: 12px;
  background: var(--clr-gray-100);
  display: flex;
  flex-direction: column;
  gap: 7px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.container-chat:hover {
  scrollbar-color: var(--clr-gray-300) transparent;
}

.chat-box-text {
  max-width: 200px;
  width: auto;
  height: auto;
  border-radius: 24px;
  padding: 14px;
}

.sender {
  background-color: var(--clr-purple-300);
  color: var(--clr-purple-600);
  border-bottom-left-radius: 0;
  align-self: flex-start;
}

.receiver {
  background-color: var(--clr-white);
  color: var(--clr-gray-300);
  border-bottom-right-radius: 0;
  align-self: flex-end;
}

.chat-box-img {
  max-width: 290px;
  width: auto;
  height: auto;
  display: flex;
  gap: 12px;
  align-self: flex-end;
}

.chat-box-img img {
  max-width: 60px;
  max-height: 60px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.chat-box-radio {
  width: 250px;
  height: auto;
  border-radius: 12px;
  padding: 14px;
  color: var(--clr-white);
  background: var(--clr-gradient);
  border-bottom-left-radius: 0;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
}

.chat-box-radio > label {
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

.custom-radio {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.custom-radio + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.custom-radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 2px;
  border-style: solid;
  border-color: var(--clr-gray-300);
  border-radius: 50%;
  transition: 0.2s ease;
}

.custom-radio + label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: var(--clr-gray-500);
  border-radius: 50%;
  opacity: 0;
  transition: 0.2s ease;
}

.custom-radio:checked + label::after {
  opacity: 1;
}

.custom-radio:checked + label::before {
  border-color: var(--clr-gray-200);
}

.chat-box-radio span {
  font-weight: 600;
  font-size: 1.2rem;
}

.container-input-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 280px;
  height: 50px;
  border-radius: 24px;
  background-color: white;
  position: relative;
  left: 15px;
  bottom: 0;
}

#type-message {
  height: 40px;
  width: 200px;
  border: none;
  outline: none;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--clr-purple-950);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.circle:hover {
  background-color: var(--clr-purple-600);
}

.icon-forwardarrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px 4px 4px 0px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(-45deg);
}

.container-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  margin-left: -500px;
}
@media (max-width: 1024px) {
  .container-text {
    margin-left: -200px;
  }
}

.container-text h4 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--clr-purple-950);
}

.container-text p {
  color: var(--clr-gray-500);
  max-width: 420px;
}

@media (max-width: 768px) {
  .left {
    width: 45vw;
    height: 70vh;
  }

  .right {
    width: 45vw;
    height: 70vh;
  }
  .container-text {
    margin-left: 0;
  }
}

@media (max-width: 426px) {
  .main-container {
    grid-template-columns: 1fr;
  }

  .left {
    width: 60vw;
    height: 50vh;
  }

  .right {
    width: 60vw;
    height: 50vh;
  }

  .container-text {
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .container-text h4 {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--clr-purple-950);
  }

  .container-text p {
    color: var(--clr-gray-500);
    text-align: center;
    max-width: 280px;
    line-height: 150%;
  }
}
